[Unit]
Description=NDACC go client
After=syslog.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/root/go/src/github.com/nebulasio/go-nebulas/neb -c /opt/neb/node.conf
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=1s
WorkingDirectory=/root/go/src/github.com/nebulasio/go-nebulas

[Install]
WantedBy=multi-user.target