[Unit]
Description=DACC go client
After=syslog.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/opt/gdacc/bin/gdacc --datadir /data --ipcdisable --rpc --rpcaddr "0.0.0.0" --rpcapi="admin,db,eth,miner,net,personal,web3" --pprof --pprofaddr 0.0.0.0
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target